html {
  background: url(../images/spice-girls.jpg) no-repeat top left;
}

#monkey {
  position: absolute;
  top: 550px;
  right: 120px;
}

@media screen and (max-width: 1350px) {
  #ostrich {
    top: 100px;
  }
}
/* Write your solution here */

