html {
  background: url(../images/croc.jpg) no-repeat top left;
}

#ostrich {
  position: absolute;
  top: 50px;
  right: 0;
}

@media screen and (min-width: 1350px) {
  #ostrich {
    top: 150px;
  }
}


/* Write your solution here */

